@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    text-align: center;
    background-image: url(./image/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

h1 {
    margin: 2rem auto;
}

#container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 4rem auto;
    padding: 2rem 6rem;
    background: linear-gradient(180deg, #0d9488, #e0f2fe);
    border-radius: 1rem;
    color: #faf5ff;
}

#input-date {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-align: center;
    width: 40%;
}

#check-btn {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #f0f9ff;
}

#output-div {
    font-family: 'Montserrat', sans-serif;
    max-width: 80%;
    margin: 1rem auto;
    font-weight: 500;
    font-size: 1rem;
    color: #312e81;
}

footer {
    display: block;
    position: fixed;
    bottom: 8px;
    left: 8px;
    right: 8px;
    bottom: 0;
    color: white;
}

#footer-note {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 1.35rem;
    /* outline: 1px solid white; */
    margin: 1rem 5rem;
    padding: 10px;

}